@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

html,
body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen {
    padding: 23px;
    padding-bottom: 98px;
    width: 100%;
    min-height: 100%;
    position: relative;

}

.screen-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-game,
.screen-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-lines-bg {
    background: url('../images/bg/lines-bg.svg') 50% / cover, url('../images/bg/gradient-bg.png') 50% / cover;
    background-attachment: fixed;
}

.screen-stars-bg>.energy-container {
    position: relative;
}

.screen-stars-bg::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    opacity: .4;
    background: url('../images/bg/stars.jfif') 50% / cover;

}

.screen-header {
    position: absolute;
    top: 71px;
    left: 44px;

}

.header-btn {
    background: linear-gradient(141.53deg, #FF15EB 23.28%, #9D0B7A 81.49%);
    width: 57px;
    height: 57px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.btn-back::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/icons/back.svg') 50% / 35px 27px no-repeat;
}

.screen-footer {
    background: linear-gradient(90.96deg, #0E0A32 0.31%, #000000 99.69%);
    height: 86px;
    width: 90%;
    border-radius: 10px;
    padding: 0 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 5%;
    bottom: 5px;
    z-index: 5;


}

.btn-action-play {
    position: fixed;
    bottom: 99px;
    width: 90%;
}

.footer-btn {
    background: linear-gradient(136.16deg, #180114 17.63%, #47046B 91.17%);
    width: 42px;
    height: 42px;
    border-radius: 50px;

    position: relative;
    cursor: pointer;
}

.footer-btn.btn-play {
    background: none;
}

.footer-btn.btn-active {
    -webkit-box-shadow: 0px 0px 13px 8px rgba(107, 21, 112, 1);
    -moz-box-shadow: 0px 0px 13px 8px rgba(107, 21, 112, 1);
    box-shadow: 0px 0px 13px 8px rgba(107, 21, 112, 1);
    pointer-events: none;
}

.footer-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-home::after {
    background: url('../images/icons/home.svg') 50% / 24px 24px no-repeat;
}

.btn-play::after {
    background: url('../images/icons/play.png') 50% / cover no-repeat;
}

.btn-evol::after {
    background: url('../images/icons/evol.png') 50% / 27.71px 25.97px no-repeat;
}

.btn-social::after {
    background: url('../images/icons/social.png') 50% / 31.31px 31.31px no-repeat;
}

.block-agreement {
    background: linear-gradient(95.83deg, #0E0A32 2.44%, #211A61 50.51%, #000000 96.51%);
    width: 100%;
    padding: 38px 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 73px 20px #3B62DA33;
    -webkit-box-shadow: 0px 0px 73px 20px #3B62DA33;
    -moz-box-shadow: 0px 0px 73px 20px #3B62DA33;
    -moz-animation: fadeIn 0.5s ease-in;
    -webkit-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.agreement-items {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    font-weight: 300;
}

.agreement-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agreement-item.checked>.agreement-item-check {
    opacity: 0;
    transform: scale(0.1);
}

.agreement-item-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.agreement-item-title::before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    background: url('../images/icons/agreement-list-icon.svg')50% / cover no-repeat;
}

.agreement-item-check {
    width: 20px;
    height: 13px;
    background: url('../images/icons/check.svg') 50% / cover no-repeat;
    opacity: 1;
    transition: 0.2s;
}

.btn-action {
    margin-top: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: opacity .3s;
    opacity: 1;
    cursor: pointer;
}

.btn-action.disabled {
    opacity: 0.4;
    pointer-events: none;
    background: linear-gradient(90deg, #979797 0%, #575757 100%);
}

.screen-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding-bottom: 189px;

}

.img-user-container {
    width: 118px;
    height: 118px;
    border: 1px solid #47046B;
    box-shadow: 9px 9px 60px 0px #C700FF80;
    -moz-box-shadow: 9px 9px 60px 0px #C700FF80;
    -webkit-box-shadow: 9px 9px 60px 0px #C700FF80;
    border-radius: 150px;
    overflow: hidden;
}

.nick-name-user {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.energy-container-title {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

.energy-bar {
    position: relative;
    height: 22px;
    width: 257px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 18px;

}


.count-energy {
    position: absolute;
    right: 5px;
    color: #000000;
    font-size: 8px;
}

.energy-bar-block {
    height: 100%;
    width: 33px;
    background: linear-gradient(90deg, #9C2CB5 0%, #D70FA8 22.5%, #850968 49%, #2265CE 74%, #246FE3 94%);
}

.energy-bar-block.first-block {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
    width: 50px;
    background: linear-gradient(90deg, #9C2CB5 20%, #D70FA8 80%);
}

.energy-bar-block.first-block+.energy-bar-block {
    background: #D70FA8;
}

.energy-bar-block.first-block+.energy-bar-block+.energy-bar-block {
    background: linear-gradient(90deg, #D70FA8 0%, #850968 94%);
}

.energy-bar-block.first-block+.energy-bar-block+.energy-bar-block+.energy-bar-block {
    background: linear-gradient(90deg, #850968 0%, #2265CE 94%);
}

.energy-bar-block.first-block+.energy-bar-block+.energy-bar-block+.energy-bar-block+.energy-bar-block {
    background: #2265CE;
}

.energy-bar-block.last-block {
    border-radius: 0 20px 20px 0;
    width: 50px;
    background: linear-gradient(90deg, #2265CE 0%, #246FE3 94%);
}

.user-info-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.user-info-item {
    padding: 38px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    width: 100%;
    background: linear-gradient(90deg, #0D0B31 0%, #282297 100%);
    border-radius: 30px;

}

.user-info-item-title {
    font-weight: 700;
    font-size: 14px;
}

.user-info-item-count {
    margin-right: 30px;
    font-weight: 700;
    color: #F3BA2F;
    font-size: 20px;
}

.claim-container {
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.claim-line {
    max-width: 257px;
    width: 100%;
    height: 22px;
    border-radius: 30px;
    background: #1A1661;

}

.btn-claim,
.tasks-item-btn,
.shop-item-btn {
    border-radius: 3px;
    background-color: #000000;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-claim-background,
.tasks-item-btn-wrapper,
.shop-item-btn-wrapper {
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(94.77deg, #FFFFFF 20.03%, rgba(153, 153, 153, 0.2) 100%);
    border-radius: 3px;
    cursor: pointer;
}

.game {
    position: relative;
    width: 100%;
    height: calc(100vh - 88px - 90px);
}

.game>* {
    position: absolute;
}

.proton {
    left: calc(50% - (246px / 2));
    top: calc(50% - (233px / 2));
    width: 246px;
    height: 233px;
}
.proton img {
    height: auto;
    object-fit: contain;
}

.proton-tap-circle {
    background: url('../images/game-icon/proton-1.png') 50% / cover;
}

.proton-tap-triangles {
    background: url('../images/game-icon/proton-2.png') 50% / cover;
}

.logo-proton {
    position: relative;
    border-radius: 124px;
    width: 124px;
    height: 124px;
    background: url('../images/logo.png') 50% / cover no-repeat;
    z-index: 3;

}

.logo-gradinent {
    position: relative;
    border-radius: 124px;

}

.logo-gradinent::before {
    border-radius: 124px;
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;

    -webkit-box-shadow: 1px 0px 74px 90px rgba(254, 17, 194, 0.2);
    -moz-box-shadow: 1px 0px 74px 90px rgba(254, 17, 194, 0.2);
    box-shadow: 1px 0px 74px 90px rgba(254, 17, 194, 0.2);
}

.logo-gradinent::after {
    border-radius: 124px;
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 1px 0px 60px 60px rgba(36, 111, 227, 0.3);
    -moz-box-shadow: 1px 0px 60px 60px rgba(36, 111, 227, 0.3);
    box-shadow: 1px 0px 60px 60px rgba(36, 111, 227, 0.3);
}

.screen-tasks {
    text-align: center;
    gap: 14px;
    padding: 17px;
    padding-bottom: 100px;
}

.screen-title {
    font-weight: 700;
    font-size: 24px;
}

.screen-desc {
    font-weight: 300;
    font-size: 14px;
    max-width: 294px;
}

.tasks-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    background: #000000;
    border-radius: 10px;
    padding: 8px 10px;
}

.tasks-item-wrapper {
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(90deg, #246FE3 0%, rgba(186, 186, 186, 0) 100%);


}

.tasks-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-active {
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    color: #000000;
}

.tasks-item-icon {
    min-width: 57px;
    min-height: 57px;
    background: linear-gradient(180deg, #EB10B7 0%, #850968 100%);
    border-radius: 57px;
    margin-right: 20px;
    position: relative;
}

.tasks-item-icon.icon-new-mes::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 24px;
    background: url('../images/icon-task/new-mess.png') 50% / cover no-repeat;
}

.tasks-item-desc {
    font-weight: 900;
    font-size: 15px;
    /* line-height: 18.29px; */
}

.tasks-item-desc-coin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks-item-desc-coin::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/icon-task/proton.png') 50% / cover no-repeat;
}

.tasks-item-icon.icon-youtube {
    background: url('../images/icon-task/youtube.png') 50% / cover no-repeat;
}

.tasks-item-icon.icon-tg {
    background: url('../images/icon-task/tg.png') 50% / cover no-repeat;
}

.tasks-item-icon.icon-disc {
    background: url('../images/icon-task/disc.png') 50% / cover no-repeat;
}

.tasks-item-icon.icon-x {
    background: url('../images/icon-task/x.png') 50% / cover no-repeat;
}

.tasks-item.checked>.tasks-item-btn-wrapper {
    opacity: 0;
    pointer-events: none;
}

.tasks-item.checked::after {
    content: '';
    min-width: 20px;
    height: 13px;
    background: url('../images/icon-task/checked.svg') 50% / cover no-repeat;
}

.tasks-item.onplay>.tasks-item-btn-wrapper {
    opacity: 0;
    pointer-events: none;
}

.tasks-item.onplay::after {
    content: '';
    min-width: 11px;
    height: 18.5px;
    background: url('../images/icon-task/arrow.svg') 50% / cover no-repeat;
}

.screen-shop .energy-container-title {
    text-align: left;
}

.screen-shop {
    display: flex;
    flex-direction: column;
}

.shop-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.shop-wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    border-radius: 20px 20px 0 0;
    left: -24px;
    right: -23px;
    bottom: -96px;
    background: url('../images/bg/lines-bg-2.svg') 50% / cover, #0B041A;


}

.shop-wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    border-radius: 20px 20px 0 0;
    left: -23px;
    right: -23px;
    bottom: -86px;
    background: url('../images/bg/bg-shop.jfif') 50% / cover no-repeat;
    opacity: 0.2;
}

.shop-wrapper {
    display: none;
    transition: 0.2s;
    padding-top: 83px;
    flex-grow: 2;
    position: relative;
    border-radius: 20px 20px 0 0;
    padding-bottom: 96px;

}

.shop-wrapper.black-bg {
    padding-top: 42px;

}

.shop-wrapper.black-bg::after {
    display: none;
}

.shop-wrapper.black-bg::before {
    background: #0B041A;
}

.shop-wrapper.open-shop {
    display: block;
}

.shop-tabs::before {
    position: absolute;
    content: '';
    left: -60px;
    right: -60px;
    bottom: -20px;
    top: 0;

    background: linear-gradient(to top, rgba(61, 0, 48, 0.5) 50%, rgba(102, 102, 102, 0) 90%);


}

.shop-wrapper>* {
    position: relative;
    z-index: 2;
}

.shop-tabs {
    display: flex;
    gap: 13px;
    position: relative;
}

.shop-container {
    margin-top: 33px;
}

.shop-tab {
    position: relative;
    border-radius: 30px 30px 0 0;
    flex-grow: 2;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 0px 17px;
    background: linear-gradient(90deg, #000000 0%, #005BEA 100%);

    color: #0D0B31;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.shop-tab.choice {
    background: linear-gradient(98.32deg, #01C2FB 7.41%, #005BEA 81.03%);
    pointer-events: none;

}

.pump-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.pump-item {
    max-width: 50%;
    flex-grow: 2;
    padding: 10px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, #0D0B31 0%, #282297 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    position: relative;
}

.pump-item-stars {
    display: flex;
    margin-bottom: 20px;
}

.pump-item-star {
    min-width: 13px;
    height: 13px;
    background: url('../images/icons/Star.svg') 50% / cover no-repeat;
}

.pump-item-img {
    width: 103px;
}

.pump-item-footer {
    width: 25px;
    height: 28px;
    background: url('../images/shop-icons/question.svg') 50% / cover;
    position: absolute;
    bottom: -14px;
}

.shop-wrapper-footer {
    position: absolute;
    bottom: 38px;
    width: 100%;
}

.shop-load-item {
    width: 15px;
    height: 15px;
    background: #AD22AE;

}

.shop-load-items {
    display: flex;
    width: 100%;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.popup-shop {
    position: absolute;
    z-index: 3;
    font-size: 20px;
    padding: 20px;
    background-color: #000000bd;
    width: 90%;
    border-radius: 20px;
    top: 10%;
    left: calc(50% - (90% / 2));

}

.shop-item-wrapper {
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(90deg, #246FE3 0%, rgba(186, 186, 186, 0) 100%);
}

.shop-item {
    background: #0B041A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.shop-item-img {
    width: 69px;
}

.shop-item-coin {
    font-weight: 900;
    font-size: 24px;
}

.shop-items {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.shop-item.closed>.shop-item-btn-wrapper {
    display: none;

}

.shop-item.closed>.shop-item-closed {
    display: block;
}

.shop-item.load>.shop-item-btn-wrapper {
    display: none;

}

.shop-item.load>.shop-item-closed {
    display: block;
}

.shop-item-closed {
    display: none;
    width: 57px;
    height: 57px;
    background: url('../images/shop-icons/closed-icon.svg') 50% / cover no-repeat;
}

.shop-item.load>.shop-item-img {
    display: none;

}

.shop-item-load {
    display: flex;
    gap: 5px;
    height: 31px;
}

.shop-item-load-block.first-block {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
    width: 16px;
    background: linear-gradient(90deg, #9C2CB5 20%, #D70FA8 80%);
}

.shop-item-load-block {
    width: 10px;
}

.shop-item-load-block.first-block+.shop-item-load-block {
    background: #D70FA8;
}

.shop-item-load-block.first-block+.shop-item-load-block+.shop-item-load-block {
    background: linear-gradient(90deg, #D70FA8 0%, #850968 94%);
}

.shop-item-load-block.first-block+.shop-item-load-block+.shop-item-load-block+.shop-item-load-block {
    background: linear-gradient(90deg, #850968 0%, #2265CE 94%);
}

.shop-item-load-block.first-block+.shop-item-load-block+.shop-item-load-block+.shop-item-load-block+.shop-item-load-block {
    background: #2265CE;
}

.shop-item-load-block.last-block {
    border-radius: 0 20px 20px 0;
    width: 16px;
    background: linear-gradient(90deg, #2265CE 0%, #246FE3 94%);
}

.friend-user-info {
    background: linear-gradient(95.83deg, #0E0A32 2.44%, #211A61 50.51%, #000000 96.51%);
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.friend-user-info-logo {
    height: 100px;
}
.friend-user-info-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.friend-user-info-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}
.friend-user-info-desc {
    text-transform:uppercase;
    font-size: 18px;
}
.friend-user-info-desc-title {
    margin-bottom: 10px;
}
.info-friends, .info-coin {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-friends::before {
    content: '';
    width: 20px;
    height: 24px;
    display: block;
    background: url('../images/icons/icon-user.svg') 50% / cover no-repeat;
}
.info-coin::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/icons/coin.webp') 50% / cover no-repeat;
}
.invite-friend-container {
    padding: 20px;
    border: 1px solid #005BEA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.btn-action.btn-action-link {
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 0;
}
.invite-friend-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.invite-friend-link {
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    text-wrap: nowrap;
    overflow-x: hidden;
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.invite-friend-link-icon {
    width: 24px;
    height: 24px;
}
.link-info-container {
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #0D0B31 0%, #282297 100%);
    border-radius: 10px;

}
.invite-friend-link-icon.copy-ok >  .link-no-copy{
    display: none;
}
.invite-friend-link-icon.copy-ok >  .link-copy{
    display: block;
}
.invite-friend-link-icon >  .link-copy{
    display: none;
}